# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
next-env.d.ts

# code-review-graph
.code-review-graph/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# env
.env
.env.*
!.env.example

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.pem


# misc
*.tsbuildinfo

# vercel
.vercel
